.sign-in-container {
  align-items: center;
  background-color: orange;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}

.sign-in {
  background-color: darkorange;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.sign-in__button {
  border: none;
  border-radius: 0;
  height: 30px;
  margin-top: 10px;
}

.sign-in__input {
  border: none;
  height: 30px;
  padding: 5px;
}

.error {
  color: white;
  margin: 0;
  margin-top: 10px;
}
