.chat-room {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex: 2;
}

.chat-room__bubbles {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
  padding: 10px;
}

.chat-room__inputs {
  display: flex;
}

.chat-room__image-input {
  align-items: center;
  background-color: indigo;
  color: white;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 60px;
}

.chat-room__image-input > input {
  display: none;
}

.chat-room__text-input {
  border: none;
  flex: 1;
  height: 30px;
}
